@import '../variables';

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;

  h4 {
    font-size: 14px;
  }

  h4,
  svg,
  img {
    transition: 0.2s ease;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .start-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .end-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .custom-icon {
    height: 25px;
    width: 25px;
  }

  .button-loader {
    position: absolute;
  }

  &:active {
    transform: scale(0.93);
  }

  // PRIMARY
  &.--primary {
    background-color: $primary;
    h4,
    svg {
      color: $white;
    }

    img {
      filter: $whiteTint;
    }

    &:hover {
      background-color: $faded;
      h4,
      svg {
        color: $primary;
      }
      img {
        filter: $primaryTint;
      }
    }
  }

  // SECONDARY
  &.--secondary {
    border: 1px solid $primary;
    background-color: $white;

    h4 {
      color: $primary;
    }
    img {
      filter: $primaryTint;
    }

    &:hover {
      border: 1px solid $faded;

      background-color: $faded;
      h4,
      svg {
        color: $primary;
      }
    }
  }

  // TERTIARY
  &.--tertiary {
    background-color: $faded;
    border: 1px solid $faded;

    h4 {
      color: $primary;
    }

    &:hover {
      border: 1px solid $primary;

      background-color: $primary;
      h4,
      svg {
        color: $white;
      }
      img {
        filter: $whiteTint;
      }
    }
  }

  // PURE TEXT
  &.--text {
    border-radius: 0;
    background-color: transparent;
    h4 {
      color: $primary;
    }

    &:hover {
      text-decoration: underline $primary;
    }
    &:active {
      transform: scale(1);
    }
  }

  // CLEAN
  &.--clean {
    border-radius: 0;
    background-color: transparent;
    h4 {
      color: $primary;
    }

    &:hover {
      background-color: $tertiary;
    }
  }

  // ONLY ICON
  &.--icon {
    padding: 5px;
    margin: 5px;
    border-radius: $radius * 2;

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;

  &:hover {
    background-color: $faded;
  }
  &:active {
    transform: scale(0.9);
  }
}

.update-button {
  display: inline-flex;
  &:hover {
    svg {
      transform: rotate(-180deg);
    }
  }
  &.synching {
    svg {
      animation: spinning infinite 1s linear;
    }
  }
}
