@import '../variables';

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: $padding;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.2s ease;

  h4,
  svg {
    transition: 0.2s ease;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .start-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .end-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .button-loader {
    position: absolute;
  }

  &.--primary {
    background-color: $primary;
    h4 {
      color: $white;
    }
    svg {
      color: $white;
    }

    &:hover {
      background-color: $faded;
      h4 {
        color: $primary;
      }
      svg {
        color: $primary;
      }
    }
  }

  &.--secondary {
    border: 1px solid $primary;
    h4 {
      color: $primary;
    }

    &:hover {
      border: 1px solid $faded;

      background-color: $faded;
      h4 {
        color: $primary;
      }
      svg {
        color: $primary;
      }
    }
  }

  &.--tertiary {
    background-color: $faded;
    border: 1px solid $faded;

    h4 {
      color: $primary;
    }

    &:hover {
      border: 1px solid $primary;

      background-color: $primary;
      h4 {
        color: $white;
      }
      svg {
        color: $white;
      }
    }
  }

  &.--text {
    border-radius: 0;
    h4 {
      color: $primary;
    }

    &:hover {
      text-decoration: underline $primary;
    }
  }

  &.--icon {
    padding: 10px;
    h4 {
      color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: $faded;
    }
  }

  &:active {
    transform: scale(0.93);
  }
}
