@import '../variables';

.custom-input {
  input,
  textarea {
    font-size: $baseFontSize;
  }

  svg,
  .custom-icon {
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  &:focus-within {
    .custom-icon {
      filter: $primaryTint;
    }
    svg {
      color: $primary;
    }
  }

  &.--rounded {
    .MuiOutlinedInput-root {
      padding-left: 0;
    }
    fieldset {
      border-radius: $radius * 2;
      border-color: $primary;
    }

    input::placeholder {
      font-style: italic;
      color: $primary;
    }

    .custom-icon-container {
      background-color: $lightGray;
      border-radius: $radius * 2;
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      .custom-icon {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.date-picker {
  input {
    flex: 1;
  }
}
