@import '../variables';

.custom-input {
  // fieldset {
  //   border-color: $primary;
  // }

  .MuiOutlinedInput-root {
    &:hover {
      // fieldset {
      //   border-color: $primary;
      // }
    }
  }

  &:focus-within {
    .custom-icon {
      filter: invert(20%) sepia(97%) saturate(2278%) hue-rotate(228deg) brightness(84%)
        contrast(79%);
    }
    svg {
      color: $primary;
    }
  }

  &.--rounded {
    .MuiOutlinedInput-root {
      padding: 0;
    }
    fieldset {
      border-radius: $radius * 2;
    }

    .custom-icon-container {
      background-color: $lightGray;
      border-radius: $radius * 2;
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      .custom-icon {
        height: 20px;
        width: 20px;
      }
    }
  }
}
