@import './variables';

// CONTAINERS

.main-container {
  height: 100%;
  width: calc(100% - #{$drawerWidth});
  background-color: $background;
  margin-top: $headerHeight;
  margin-left: $drawerWidth;
  padding: $padding $padding * 3;

  @media only screen and (max-width: $isTablet) {
    margin-left: 0;
    width: 100%;
  }

  @media only screen and (max-width: $isSmallScreen) {
    padding: $padding;
  }
}

.paper {
  background-color: $white;
  box-shadow: $shadow;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ADD ONS

.box-shadow1 {
  box-shadow: $shadow;
}
.box-shadow2 {
  box-shadow: $shadowStrong;
}

// EXTENDS

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary;
  }
}
