// COLORS
$primary: #3b4cb8;
$faded: #3b4cb820;
$secondary: #3b3b3b;
$tertiary: #f6f6f6;
$background: #eeeeee;
$lightGray: #f3f3f3;
$lightGray2: #f5f5f5;
$lightGray3: #f0f0f0;
$gray: #d9d9d9;
$gray1: #8c8c8c;
$transparentWhite: rgba(255, 255, 255, 0.2);
$transparentBlack: rgba(0, 0, 0, 0.4);
$transparentBlack2: rgba(0, 0, 0, 0.8);
$dark: #222222;
$white: #fff;
$black: #000000;
$error: #d84035;

// FONTS
$mainFont: 'Nunito Sans', sans-serif;
$accentFont: 'Nunito Sans', sans-serif;

// SIZES
$padding: 12px;
$radius: 24px;
$maxWidth: 1140px;

// BREAKPOINTS
$isPhone: 480px;
$isTablet: 768px;
$isLaptop: 769px;
$isLargeScreen: 1201px;
