// COLORS
$primary: #3b4cb8;
$faded: #3b4cb820;
$secondary: #3b3b3b;
$tertiary: #f6f6f6;
$background: #eeeeee;

$lightGray: #f3f3f3;
$lightGray2: #f5f5f5;
$lightGray3: #f0f0f0;
$gray: #d9d9d9;
$gray1: #8c8c8c;
$transparentWhite: rgba(255, 255, 255, 0.2);
$transparentBlack: rgba(0, 0, 0, 0.2);
$transparentBlack2: rgba(0, 0, 0, 0.8);
$dark: #222222;
$white: #fff;
$black: #000000;
$error: #d84035;

// TINTS @ https://codepen.io/sosuke/pen/Pjoqqp
$whiteTint: invert(100%) sepia(0%) saturate(7483%) hue-rotate(266deg) brightness(104%)
  contrast(110%);
$darkTint: invert(8%) sepia(0%) saturate(745%) hue-rotate(140deg) brightness(106%) contrast(88%);
$primaryTint: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%)
  contrast(87%);

// FONTS
$baseFontSize: 16px;
$mainFont: 'Nunito Sans', sans-serif;
$accentFont: 'Nunito Sans', sans-serif;

// SIZES
$padding: 12px;
$radius: 24px;
$maxWidth: 1140px;
$drawerWidth: 300px;
$headerHeight: 100px;

// BREAKPOINTS
$isPhone: 480px;
$isSmallScreen: 780px;
$isTablet: 1023px;
$isLaptop: 1024px;
$isLargeScreen: 1201px;

// CUSTOMS
$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadowStrong: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
