@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import './variables', './standards', './keyframes';
@import './shared/button', './shared/inputField', './shared/pageLoader';

* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: $dark;
  font-size: 30px;
  line-height: 50px;
  &.large {
    font-size: 40px;
  }
}
h2 {
  color: $dark;
  font-size: 24px;
  line-height: 36px;
}
h3 {
  color: $dark;
  font-size: 18px;
  line-height: 30px;
}
h4 {
  color: $dark;
  font-size: 16px;
  line-height: 28px;
}
h5 {
  color: $dark;
  font-size: 14px;
  line-height: 28px;
}
h6 {
  color: $dark;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
}
p {
  color: $dark;
  font-size: 16px;
  line-height: 24px;

  &.p1 {
    font-size: 18px;
  }
  &.p2 {
    font-size: 20px;
  }
  &.light {
    font-size: 16px;
    font-weight: 200;
  }
  &.italic {
    font-size: 16px;
    font-style: italic;
  }
}
