@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.main-container {
  height: 100%;
  width: calc(100% - 300px);
  background-color: #eeeeee;
  margin-top: 100px;
  margin-left: 300px;
  padding: 12px 36px;
}

@media only screen and (max-width: 1023px) {
  .main-container {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .main-container {
    padding: 12px;
  }
}

.paper {
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box-shadow1 {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-shadow2 {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3b4cb8;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
}

.custom-button h4 {
  font-size: 14px;
}

.custom-button h4,
.custom-button svg,
.custom-button img {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.custom-button .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-button .start-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.custom-button .end-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.custom-button .custom-icon {
  height: 25px;
  width: 25px;
}

.custom-button .button-loader {
  position: absolute;
}

.custom-button:active {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.custom-button.--primary {
  background-color: #3b4cb8;
}

.custom-button.--primary h4,
.custom-button.--primary svg {
  color: #fff;
}

.custom-button.--primary img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(266deg) brightness(104%) contrast(110%);
          filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(266deg) brightness(104%) contrast(110%);
}

.custom-button.--primary:hover {
  background-color: #3b4cb820;
}

.custom-button.--primary:hover h4,
.custom-button.--primary:hover svg {
  color: #3b4cb8;
}

.custom-button.--primary:hover img {
  -webkit-filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
          filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
}

.custom-button.--secondary {
  border: 1px solid #3b4cb8;
  background-color: #fff;
}

.custom-button.--secondary h4 {
  color: #3b4cb8;
}

.custom-button.--secondary img {
  -webkit-filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
          filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
}

.custom-button.--secondary:hover {
  border: 1px solid #3b4cb820;
  background-color: #3b4cb820;
}

.custom-button.--secondary:hover h4,
.custom-button.--secondary:hover svg {
  color: #3b4cb8;
}

.custom-button.--tertiary {
  background-color: #3b4cb820;
  border: 1px solid #3b4cb820;
}

.custom-button.--tertiary h4 {
  color: #3b4cb8;
}

.custom-button.--tertiary:hover {
  border: 1px solid #3b4cb8;
  background-color: #3b4cb8;
}

.custom-button.--tertiary:hover h4,
.custom-button.--tertiary:hover svg {
  color: #fff;
}

.custom-button.--tertiary:hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(266deg) brightness(104%) contrast(110%);
          filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(266deg) brightness(104%) contrast(110%);
}

.custom-button.--text {
  border-radius: 0;
  background-color: transparent;
}

.custom-button.--text h4 {
  color: #3b4cb8;
}

.custom-button.--text:hover {
  -webkit-text-decoration: underline #3b4cb8;
          text-decoration: underline #3b4cb8;
}

.custom-button.--text:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom-button.--clean {
  border-radius: 0;
  background-color: transparent;
}

.custom-button.--clean h4 {
  color: #3b4cb8;
}

.custom-button.--clean:hover {
  background-color: #f6f6f6;
}

.custom-button.--icon {
  padding: 5px;
  margin: 5px;
  border-radius: 48px;
}

.custom-button.--icon h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-button.--icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.close-icon:hover {
  background-color: #3b4cb820;
}

.close-icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.update-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.update-button:hover svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.update-button.synching svg {
  -webkit-animation: spinning infinite 1s linear;
          animation: spinning infinite 1s linear;
}

.custom-input input,
.custom-input textarea {
  font-size: 16px;
}

.custom-input svg,
.custom-input .custom-icon {
  cursor: pointer;
}

.custom-input svg:active,
.custom-input .custom-icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.custom-input:focus-within .custom-icon {
  -webkit-filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
          filter: invert(23%) sepia(33%) saturate(3945%) hue-rotate(219deg) brightness(102%) contrast(87%);
}

.custom-input:focus-within svg {
  color: #3b4cb8;
}

.custom-input.--rounded .MuiOutlinedInput-root {
  padding-left: 0;
}

.custom-input.--rounded fieldset {
  border-radius: 48px;
  border-color: #3b4cb8;
}

.custom-input.--rounded input::-webkit-input-placeholder {
  font-style: italic;
  color: #3b4cb8;
}

.custom-input.--rounded input:-ms-input-placeholder {
  font-style: italic;
  color: #3b4cb8;
}

.custom-input.--rounded input::-ms-input-placeholder {
  font-style: italic;
  color: #3b4cb8;
}

.custom-input.--rounded input::placeholder {
  font-style: italic;
  color: #3b4cb8;
}

.custom-input.--rounded .custom-icon-container {
  background-color: #f3f3f3;
  border-radius: 48px;
  height: 56px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-input.--rounded .custom-icon-container .custom-icon {
  height: 20px;
  width: 20px;
}

.date-picker input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.page-loader-container h4 {
  margin-top: 12px;
  font-size: 13px;
}

.page-loader-container.modal-loader {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: #222222;
  font-size: 30px;
  line-height: 50px;
}

h1.large {
  font-size: 40px;
}

h2 {
  color: #222222;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  color: #222222;
  font-size: 18px;
  line-height: 30px;
}

h4 {
  color: #222222;
  font-size: 16px;
  line-height: 28px;
}

h5 {
  color: #222222;
  font-size: 14px;
  line-height: 28px;
}

h6 {
  color: #222222;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
}

p {
  color: #222222;
  font-size: 16px;
  line-height: 24px;
}

p.p1 {
  font-size: 18px;
}

p.p2 {
  font-size: 20px;
}

p.light {
  font-size: 16px;
  font-weight: 200;
}

p.italic {
  font-size: 16px;
  font-style: italic;
}
