@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

body {
  padding: 5px;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 30px;
  line-height: 50px;
}

h1.large {
  font-size: 40px;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 18px;
  line-height: 36px;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 36px;
}

h5 {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 26px;
}

p.p1 {
  font-size: 18px;
}

p.p2 {
  font-size: 20px;
}
